:root {
  --header-heigth: 130px;

  @media (max-width: 992px) {
    --header-heigth: 90px;
  }

  @media (max-width: 500px) {
    --header-heigth: 70px;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: 500px) {
    padding: 0 10px;
  }
}

.input {
  width: 100%;
  height: 31px;
  padding: 7px 12px;
  border: none;

  &::placeholder {
    color: $colorSmall;
    font-size: pxToRem(16);
  }
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-top: -4px;
  margin-bottom: 10px;
  margin-left: 2px;
  cursor: pointer;

  & span {
    display: block;
    width: 8px;
    height: 8px;
    background-color: $colorLight;
  }

  & input:checked ~ span {
    background-color: $colorBgDark;
  }

  & label {
    margin-left: 4px;
    color: #b5b4b4;
    font-size: pxToRem(10);
    cursor: pointer;
  }
}

.button {
  display: block;
  width: 100%;
  height: 31px;
  color: $colorLight;
  font-size: pxToRem(18);
  background-color: $colorBgDark;
  border: none;
  cursor: pointer;

  &:hover {
    color: $colorCommon;
    background-color: $colorBgAccent;
  }
}
