* {
  box-sizing: border-box;
}

html {
  color: $colorCommon;
  font-weight: 400;
  font-size: #{$sizeCommon}px;
  font-family: $fontCommon;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6, {
  font-family: $fontTitle;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
