//colors
$colorCommon: #000000;
$colorLight: #ffffff;
$colorDark: #020202;
$colorAccent: #e2d1a6;

$colorBgCommon: #353436;
$colorBgLight: #ffffff;
$colorBgDark: #000000;
$colorBgAccent: #e2d1a6;

$colorBorderCommon: #ffffff;
$colorBorderDark: #000000;

//fonts family
$fontCommon: "Open Sans", sans-serif !default;
$fontTitle: "Playfair Display", serif !default;

//fonts size

/* value in px
 * use only w/ interpolation or function pxToRem */
$sizeCommon: 16;

//images
$iconLock: url("../../images/icon-lock.png");
$arrow: url('../../images/arrow.png');
$iconFacebook: url('../../images/icon-facebook.png');
$iconInstagram: url('../../images/icon-instagram.png');
$iconPinterest: url('../../images/icon-pinterest.png');
