//colors
$colorCommon: #000000;
$colorLight: #ffffff;
$colorDark: #020202;
$colorAccent: #e2d1a6;

$colorBgCommon: #353436;

$colorBorderCommon: #ffffff;

//fonts family
$fontCommon: "Open Sans", sans-serif !default;
$fontTitle: "Playfair Display", serif !default;

//fonts size

/* vaule in px
 * use only w/ interpolation or function pxToRem */
$sizeCommon: 16;

//icons
$iconLock: url("../../images/icon-lock.png");
