.main {
  position: relative;
  height: calc(100vh - var(--header-heigth));
}

.main__info-box {
  position: absolute;
  top: 251px;
  right: 0;
  z-index: 3;

  @media (max-width: 1200px) {
    top: 100px;
  }

  @media (max-width: 768px) {
    top: 20vh;
  }
}

.main__suggestions-group {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
