/*.slider__slide {
  position: absolute;
  opacity: 0;
  transition: all 1s ease-in-out;

  &--showed {
    opacity: 1;
  }
}

.slider-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;

  &--active {
    background-color: red;
  }
}*/
